html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.pimg1 {
  background-image: url(Images/Img1.jpg);
  min-height: 100%;
}
.pimg2 {
  background-image: url(Images/Img2.jpg);
  min-height: 600px;
}
.pimg3 {
  background-image: url(Images/Img3.jpg);
  min-height: 400px;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ptext {
  position: absolute;
  top: 50%;

  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.textBg {
  background: #bccef8;
  color: white;
  padding: 20px;
}

.textBg:hover {
  background-color: #38e54d;
  transition-duration: 500ms;
  cursor: pointer;
}

.textBg1 {
  background: #ffa1cf;
  color: #f4f4f4;
  padding: 20px;
}
.textBg1:hover {
  background-color: #38e54d;
  transition-duration: 500ms;
  cursor: pointer;
}

.textBg2 {
  background: #c6ebc5;
  color: #8b9a46;
  padding: 20px;
}
.textBg2:hover {
  background-color: #ede4e0;
  transition-duration: 500ms;
  cursor: pointer;
}
.textBg3 {
  color: white;
  font-size: 40px;
}

.section {
  padding: 50px 80px;
  text-align: center;
}
.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #ffd6ec;
}
.section-middle {
  background-color: #a1c298;
  color: white;
}
